//
// Navbar
//
// Horizontal navigation bar from MaterializeCSS.
//
// Please have a look at the [documentation of MaterializeCSS](http://materializecss.com/navbar.html) for many awesome
// build in features.
//
// Modifiers should be added to the `nav` element if it is not wrapped by a `.navbar-fixed`.
// Otherwise it should be added to the `.navbar-fixed` wrapper.
//
// To initialize the plugin you need to include `js/waterfall-nav.js` and call `$('.nav-waterfall-2x').waterfallNav();`.
// You may pass `{enlargeOnScrollUp: true}` to change the behavior on scrolling up.
//
// Markup:
// <nav class="{{modifier_class}}">
//  <div class="nav-wrapper row">
//    <ul class="left col s6 navbar--waterfall-shrunk__hidden">
//      <li>
//        <a href="#!" class="breadcrumb">Here</a>
//        <a href="#!" class="breadcrumb">Are</a>
//        <a href="#!" class="breadcrumb">We</a>
//      </li>
//    </ul>
//    <ul class="right col s6">
//      <li><a href="#!">Button without an action</a></li>
//      <li><a href="#!" onclick="$(this).parents('nav').toggleClass('navbar--waterfall-shrunk');" class="btn">Click to shrink</a></li>
//      <li><a href="#!">(Waterfall only)</a></li>
//    </ul>
//    <ul class="col s6">
//      <li><a href="#!">Second</a></li>
//      <li><a href="#!">More</a></li>
//      <li><a href="#!">Important</a></li>
//      <li><a href="#!">Row</a></li>
//    </ul>
//  </div>
// </nav>
//
// .navbar--waterfall-2x - Allows the usage of a bigger (2x) navbar that shrinks on scrolling.
//                         This effect is triggered at the example by a button-click.
// .navbar--waterfall-3x - Allows the usage of a bigger (3x) navbar that shrinks on scrolling.
//                         This effect is triggered at the example by a button-click.
// .navbar--waterfall-4x - Allows the usage of a bigger (4x) navbar that shrinks on scrolling.
//                         This effect is triggered at the example by a button-click.
// .navbar--waterfall-5x - Allows the usage of a bigger (5x) navbar that shrinks on scrolling.
//                         This effect is triggered at the example by a button-click.
//
// Styleguide layout.navbar
//

@for $i from 2 to 6 {
  .navbar--waterfall-#{$i}x {
    height: $i * $navbar-height;
  }

  nav.navbar--waterfall-#{$i}x,
  .navbar--waterfall-#{$i}x nav {
    @include transition(0.3s height);
    @include translateZ(0); // enable hardware acceleration
    height: $i * $navbar-height;

    .nav-wrapper > ul {
      height: (100% / $i);
    }
  }
}

.navbar--waterfall-shrunk {
  height: $navbar-height;
}

nav.navbar--waterfall-shrunk,
.navbar--waterfall-shrunk nav {
  @include transition(0.3s height);
  @include translateZ(0); // enable hardware acceleration
  height: $navbar-height;

  .nav-wrapper > ul {
    height: 100%;
  }

  .navbar--waterfall-shrunk__hidden {
    display: none;
  }
}

//
// Badge
//
// Support for badges within the Navbar is built in in MaterializeCSS.
// But its missing support for badges near to Materialize Icons (see the *Default styling* example).
// This has been added. Together with class `circle` it can be used to create a nice looking notification counter.
//
// Markup:
// <nav>
//  <div class="nav-wrapper">
//    <ul class="right">
//      <li>
//        <a href="#!" class="waves-effect">
//          Missed phones
//          <span class="new badge">2</span>
//        </a>
//      </li>
//      <li>
//        <a href="#!" class="waves-effect">
//          <i class="material-icons">mail_outline</i>
//          <span class="circle orange badge {{modifier_class}} badge--numeric">1</span>
//        </a>
//      </li>
//      <li>
//        <a href="#!" class="waves-effect">
//          <i class="fa fa-envelope-o"></i>
//          <span class="circle orange badge {{modifier_class}} badge--numeric">2</span>
//        </a>
//      </li>
//  </div>
// </nav>
//
// .badge--raised - Moves the badge to the top right side of the element. This is currently supported only with numeric
//                  content.
//
// Styleguide layout.navbar.badge
//
.nav-wrapper .badge.badge--raised {
  display: block;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  text-align: center;
  width: $navbar-font-size * 1.5;
  min-width: $navbar-font-size * 1.5; // otherwise the width is not applied
  height: $navbar-font-size * 1.5;
  line-height: $navbar-font-size * 1.5;
}
