@import 'compass/css3/transform';
@import 'compass/css3/transition';
@import '../abstracts/variables';
@import 'vendors/materialize/sass/components/variables';

//
// SideNav
//
// Slide out menu from MaterializeCSS.
// It has been extended with some modifiers that allow a more flexible usage of the side-nav.
//
// The two most noteworthy things are the possibility to always have a small side-nav that expands on hover
// (See `.side-nav--mini` and to add an logo to the sidebar.
//
// For most use cases you can keep up using the normal markup from Materialize,
// but for some modifiers you need to put the `side-nav` class at a div and put the `ul` inside of this `div`:
// ```html
// <div class="side-nav">
//  <ul>
//    <li><a href="#!">Label</a></li>
//  </ul>
// </div>
// ```
//
// Please have a look at the [documentation of MaterializeCSS](http://materializecss.com/side-nav.html) especially for
// the initialization with jQuery and the Dropdown HTML Structure.
//
// Markup:
// <div class="side-nav {{modifier_class}}" id="slide-out-[UNIQID]">
//  <div class="userView">
//    <img class="background" src="kss-assets/user-background.jpg">
//    <a href="#!user"><img class="circle" src="kss-assets/avatar.png"></a>
//    <a href="#!name"><span class="white-text name">John Doe</span></a>
//    <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
//  </div>
//  <ul class="collapsible">
//    <li><a class="subheader" href="#!">First five items</a></li>
//    <li><a href="#!">First item</a></li>
//    <li><a href="#!">Second item</a></li>
//    <li><a href="#!">Third item</a></li>
//    <li><a href="#!">Fourth item</a></li>
//    <li><div class="divider"/></li>
//    <li><a class="subheader" href="#!">Second five items</a></li>
//    <li><a href="#!">Fifth item</a></li>
//    <li><a href="#!">Sixth item</a></li>
//    <li><a href="#!">Seventh item</a></li>
//    <li><a href="#!">Eighth item</a></li>
//    <li><a href="#!">Ninth item</a></li>
//    <li><div class="divider"/></li>
//    <li><a class="subheader" href="#!">Dropdowns</a></li>
//    <li class="active">
//      <a class="collapsible-header active">
//        Dropdown (Material Icon) <i class="material-icons">arrow_drop_down</i>
//      </a>
//      <div class="collapsible-body">
//        <ul>
//          <li class="active"><a href="#!">First</a></li>
//          <li><a href="#!">Second</a></li>
//          <li><a href="#!">Third</a></li>
//          <li><a href="#!">Fourth</a></li>
//        </ul>
//      </div>
//    </li>
//    <li>
//      <a class="collapsible-header">
//        Dropdown (FontAwesome) <i class="fa fa-angle-down"></i>
//      </a>
//      <div class="collapsible-body">
//        <ul>
//          <li><a href="#!">First</a></li>
//          <li><a href="#!">Second</a></li>
//          <li><a href="#!">Third</a></li>
//          <li><a href="#!">Fourth</a></li>
//        </ul>
//      </div>
//    </li>
//    <li><div class="divider"/></li>
//    <li><a class="subheader" href="#!">Last five items</a></li>
//    <li><a href="#!">Tenth item</a></li>
//    <li><a href="#!">Eleventh item</a></li>
//    <li><a href="#!">Twelfth item</a></li>
//    <li><a href="#!">Thirteenth item</a></li>
//    <li><a href="#!">Fourteenth item</a></li>
//    <li><a href="#!">Fifteenth item</a></li>
//  </ul>
// </div>
// <a href="#!" data-activates="slide-out-[UNIQID]" class="button-collapse">Click to view the example</a>
//
// .side-nav--fixed-header - Allows to put a fixed div upon the ul at the top of the side-nav. It will be sticky
//                           and does not scroll. This can be e.g. the `.userView` or the `.side-nav__logo`.
// .fixed                  - Stays always open on all devices except the small ones.
//                           [SKIP EXAMPLE because it would override the navigation]
//
// Styleguide layout.side-nav
//
.side-nav {
  width: $le-side-nav-width;
}

//
// .side-nav--fixed-header
//
.side-nav ul {
  // Removes the scroll bar from ul inside the side-nav, so that by default the complete side-nav is scrolled.
  overflow: visible;
  height: auto;
}

.side-nav--fixed-header {
  overflow: hidden;

  // Makes the ul inside the side-nav scrollable again (because the .side-nav around is not).
  ul {
    height: 100%;
    overflow: auto;
  }
}

// nicer to look at because there is no space between the scrollbar and the fixed header
.side-nav--fixed-header .userView {
  margin-bottom: 0;

  +ul {
    margin-top: 0;
  }
}

//
// Logo
//
// Logo inside the side-nav of MaterializeCSS.
//
// Markup:
// <div class="side-nav" id="slide-out-[UNIQID]">
//  <div class="side-nav__logo {{modifier_class}}">
//    <a href="#1" class="side-nav__logo-link waves-effect">
//      <div>
//        <div class="side-nav__short">
//          <img src="kss-assets/logo.png">
//        </div>
//        <div class="side-nav__long">
//          BRAND
//        </div>
//      </div>
//    </a>
//  </div>
//  <ul>
//    <li><a href="#!">First item</a></li>
//    <li><a href="#!">Second item</a></li>
//    <li><a href="#!">Third item</a></li>
//  </ul>
// </div>
// <a href="#!" data-activates="slide-out-[UNIQID]" class="button-collapse">Click to view the example</a>
//
// .side-nav__logo--center-align - Horizontally centered version of the logo.
// .side-nav__logo--right-align  - Horizontally right aligned version of the logo.
//
// Styleguide layout.side-nav.logo
//
.side-nav__logo {
  @extend .valign-wrapper;
  width: 100%; // allow to align the logo
  height: $navbar-height-mobile;

  // We need to override a rule from MaterializeCSS
  .side-nav.fixed & a,
  .side-nav & a {
    @extend .valign-wrapper;
    width: 100%;
    height: 100%;
    padding: ($sidenav-padding / 2); // make more space available for the logo
  }

  a > div {
    @extend .valign;
    width: 100%;
    overflow: hidden;
    max-height: 100%;
  }

  @media #{$medium-and-up} {
    height: $navbar-height;
  }

  @media #{$large-and-up} {
    // make more space available for the logo in collapsed .side-nav--mini
    .side-nav--mini & .side-nav__short {
      width: ($le-side-nav-expanding-width - $sidenav-padding);
    }
  }
}

.side-nav__logo--center-align > a > div {
  text-align: center;
}

.side-nav__logo--right-align > a > div {
  text-align: right;
}

//
// Toggle Icon
//
// Markup:
// <div class="side-nav" id="slide-out-[UNIQID]">
//  <ul class="collapsible">
//    <li class="active">
//      <a class="collapsible-header active">
//        Dropdown (Material Icon)
//        <i class="material-icons side-nav__toggle {{modifier_class}}">arrow_drop_down</i>
//      </a>
//      <div class="collapsible-body">
//        <ul>
//          <li class="active"><a href="#!">First</a></li>
//          <li><a href="#!">Second</a></li>
//          <li><a href="#!">Third</a></li>
//          <li><a href="#!">Fourth</a></li>
//        </ul>
//      </div>
//    </li>
//    <li>
//      <a class="collapsible-header">
//        Dropdown (Font Awesome)
//        <i class="fa fa-caret-down side-nav__toggle {{modifier_class}}"></i>
//      </a>
//      <div class="collapsible-body">
//        <ul>
//          <li><a href="#!">First</a></li>
//          <li><a href="#!">Second</a></li>
//          <li><a href="#!">Third</a></li>
//          <li><a href="#!">Fourth</a></li>
//        </ul>
//      </div>
//    </li>
//  </ul>
// </div>
// <a href="#!" data-activates="slide-out-[UNIQID]" class="button-collapse">Click to view the example</a>
//
// .side-nav__toggle--right    - Moves the Icon to the right side of the menu.
// .side-nav__toggle--animated - Adds an animation for opening and closing.
//
// Styleguide layout.side-nav.toggle
//
.side-nav,
.side-nav.fixed {
  li > a > .side-nav__toggle--right.material-icons,
  .side-nav__toggle--right {
    float: right;
    margin-right: 0;
    margin-left: 1rem;
  }

  .side-nav__toggle--animated {
    @include translateZ(0); // enable hardware acceleration
    @include transition(0.5s linear);
    @include rotate(-90deg);
    height: auto;
    margin: 0;
  }

  .active > .side-nav__toggle--animated {
    @include translateZ(0); // enable hardware acceleration
    @include transition(0.5s linear);
    @include rotate(0deg);
  }
}
