@import '../abstracts/mixins/motions';

//
// Cards
//
// Cards are well known from MaterializeCSS. For usage information please have
// a look at the
// [documentation of MaterializeCSS](http://materializecss.com/cards.html).
//
// Styleguide components.cards
//

//
// Card Toolbar
//
// Lepidoptera adds a toolbar to the cards. It may contain an headline
// (`h1`-`h6`) and some actions.
//
// Markup:
// <div class="card">
//  <div class="card__toolbar">
//    <h2>Some title</h2>
//    <ul class="card__toolbar-actions">
//      <li><a href="#!"><i class="material-icons">delete</i></a></li>
//      <li><a href="#!"><i class="material-icons">more_vert</i></a></li>
//    </ul>
//  </div>
//  <div class="card-content">
//    <p>
//      I am a very simple card. I am good at containing small bits of information.
//      I am convenient because I require little markup to use effectively.
//    </p>
//  </div>
// </div>
//
// Styleguide components.cards.toolbar
//
.card__toolbar {
  background-color: inherit;
  padding: 20px;
  border-bottom: 1px solid rgba(160, 160, 160, 0.2);
  transition: 0.3s;
  position: relative;
  color: rgba(#000, 0.87);
  height: $navbar-height-mobile;

  @media #{$medium-and-up} {
    height: $navbar-height;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: inline;
    font-weight: normal;
    font-size: 24px;
  }
}

.card__toolbar .card__toolbar-actions {
  float: right;
  margin: 0;

  li {
    float: left;
    padding: 0 16px;
  }

  li:first-child {
    padding-left: 0;
  }

  li:last-child {
    padding-right: 0;
  }

  li a {
    color: rgba(#000, 0.87);
  }
}

//
// Card overlapping app bar
//
// You can let your card overlap your navbar (like the card on this site).
// Therefore you only need to add the `card--into-app-bar` class to the `card`.
//
// You can use JavaScript to animate the card and let it transform into an app bar on scroll.
// To initialize the plugin you need to include `js/card-toolbar.js` and call
// `$('.card--into-app-bar').cardToolbar()`.
//
// You may pass `{enlargeOnScrollUp: true}` to change the behavior on scrolling up.
//
// To hide elements when transform into the app bar add
// `card__into-app-bar-scrolled-hidden` as class to the elements.
//
// Styleguide components.cards.into-app-bar
//
.card--into-app-bar {
  margin-top: -$navbar-height-mobile;
  z-index: 998;

  @media #{$medium-and-up} {
    margin-top: -$navbar-height;
  }

  &.card--into-app-bar-scrolled,
  &.card--into-app-bar-scrolled-up {
    z-index: auto;
  }

  > .card__toolbar {
    z-index: 998;
  }
}

.card--into-app-bar-scrolled > .card__toolbar {
  position: fixed;
  background-color: $primary-color;
  color: $navbar-font-color;
  border-bottom: 0 none;
  height: $navbar-height-mobile;

  @media #{$medium-and-up} {
    height: $navbar-height;
  }

  li a {
    color: $navbar-font-color;
  }
}

.card--into-app-bar-scrolled > .card-content,
.card--into-app-bar-scrolled-up > .card-content {
  padding-top: $navbar-height-mobile;

  @media #{$medium-and-up} {
    padding-top: $navbar-height;
  }
}

.card--into-app-bar-scrolled-up > .card__toolbar {
  transition: 0.3s top, 0.3s left, 0.3s background-color, 0.3s color;
  position: fixed;
}

.card--into-app-bar-scrolled .card__into-app-bar-scrolled-hidden {
  display: none;
}
