///
/// A theme to document lepidoptera itself
///
/// The file images/dguv.png should be used as logo.
///
/// @access public
/// @author Oskar Pfeifer-Bley
///
$green: #c2e085;
$blue: #84d6e0;
$redbrown: #db5823;
.side-nav__logo a {
  font-size: 2em;
  font-weight: bold;
}

.side-nav .side-nav__logo-link img {
  vertical-align: text-bottom;
}
