@import 'compass/css3/border-radius';
@import 'compass/css3/box-shadow';

/*.navbar__card-toolbar {
  position: absolute;
  bottom: 0;
  width: 100%;

  div {
    @include border-radius(2px 2px 0 0);
    @include box-shadow(0 0 5px 0 rgba(0, 0, 0, 0.16), 0 0 10px 0 rgba(0, 0, 0, 0.12));
    margin: 0 16px;
    padding: 20px;
    background: #fff;
    color: #000;
  }
}

.card--with-toolbar {
  @include border-top-radius(0);
  margin-top: 0;
  z-index: 1000;
}

.card--with-toolbar.card--with-toolbar-scrolled {
  z-index: auto;
}*/
.card--with-toolbar {
  margin-top: -64px;
  z-index: 998;

  &.scrolled {
    z-index: auto;
  }
  &.upscrolled {
    z-index: auto;
  }

  > .card__toolbar {
    z-index: 998;
  }
}
.card__toolbar {
  .scrolled > & {
    background-color: $primary-color;
    color: $navbar-font-color;
    transition: 0.3s top, 0.3s left, 0.3s width;
    border-bottom: 0 none;
    height: $navbar-height; // todo mobile
    position: fixed;

    li a {
      color: #fff;
    }
  }
  .upscrolled > & {
    transition: 0.3s top, 0.3s left, 0.3s width, 0.3s background-color, 0.3s color;
    position: fixed;
  }
}

#sidenav-overlay {
  z-index: 998;
}
