@import 'compass/css3/transition';
@import 'compass/css3/transform';

@media #{$large-and-up} {
  .nav-wrapper {
    margin-left: $le-side-nav-expanding-width;
  }

  .container {
    margin-left: $le-side-nav-expanding-width;
  }
}

nav {
  .row {
    height: 100%;
    margin-bottom: 0;
  }

  .col {
    height: 100%;
  }

}
